body {
  text-align: center;
  font-family: Helvetica, sans-serif;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

.flatiron a {
  font-size: 18px;
  color: white;
}

.flatiron {
  background-image: url("https://raw.githubusercontent.com/boombranco/broadway/master/resources/images/the-flatiron-building.png?_sm_au_=iHVKVD6tsD0WZZjM");
}

.process h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

.newyork {
  background-image: url("https://raw.githubusercontent.com/boombranco/broadway/master/resources/images/the-flatiron-building.png?_sm_au_=iHVKVD6tsD0WZZjM");
}

.newyork p {
  font-size: 23px;
  font-weight: bold;
  color: white;
}

.copyright p {
  background-color: dimgray;
  font-size: 11px;
  color: white;
  text-align: left;
}

.copyright a {
  color: white;
}
